<header>
  <div class="header-top">
    <div class="container">
      <nav class="top-menu">
        <a target="_blank" href="#"><img src="../assets/img/blog.png" alt="">
          <span>Blog</span>
        </a>
        <a target="_blank" href="#"><img src="../assets/img/jobs.png" alt="">
          <span>Jobs</span>
        </a>
        <a target="_blank" href="#"><img class="support" src="../assets/img/support.png" alt="">
          <span>Support</span>
        </a>
        <a target="_blank" href="#"><img src="../assets/img/language.png" alt="">
          <span>Arabic</span>
        </a>
      </nav>
      <div class="social">
        <a target="_blank" href="https://www.facebook.com/"><img src="../assets/img/facebook.png" alt=""></a>
        <a target="_blank" href="https://www.twitter.com/"><img src="../assets/img/twitter.png" alt=""></a>
        <a target="_blank" href="https://www.instagram.com/"><img src="../assets/img/instagram.png" alt=""></a>
        <a target="_blank" href="#"><img src="../assets/img/g+.png" alt=""></a>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <a target="_blank" href="#" class="logo">logo</a>
      <div class="contact">
        <ul>
          <li>
            <div class="bubble-wrapper">
              <div class="bubble locationText">Mail</div>
            </div>
            <a target="_blank" href="#"><img src="../assets/img/phone.png" alt=""></a>
          </li>
          <li>
            <div class="bubble-wrapper">
              <div class="bubble phoneText">Location</div>
            </div>
            <a target="_blank" href="#"><img src="../assets/img/map.png" alt=""></a>
          </li>
          <li>
            <div class="bubble-wrapper">
              <div class="bubble mailText">Phone</div>
            </div>
            <a target="_blank" href="#"><img src="../assets/img/message.png" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="navigation-wrapper">
  <div class="container">
    <nav class="menu">
      <ul>
        <li><a target="_blank" href="#">HOME</a></li>
        <li><a target="_blank" href="#">What about ISAMA</a></li>
        <li><a target="_blank" href="#">What we do ?</a></li>
        <li><a target="_blank" href="#">Our Projects</a></li>
        <li><a target="_blank" href="#">Excellent Team</a></li>
        <li><a target="_blank" href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="search">
      <img src="../assets/img/search.png" alt="">
      <input type="text" placeholder="Type your search words">
    </div>
  </div>
</div>

<section class="slider-wrapper">
  <div class="container">
    <div class="title">
      <span>LET’S DRAW SOME ARTS</span>
      <span>make your business much better</span>
    </div>
    <div class="slider">
      <div class="content art">
        <a target="_blank" href="#" class="like">
          <img src="../assets/img/like.png" alt="">
          <span>Like</span>
        </a>
      </div>
      <div class="content phone">
        <a target="_blank" href="#" class="like">
          <img src="../assets/img/like.png" alt="">
          <span>Like</span>
        </a>
      </div>
      <a target="_blank" href="#" class="next">
        <img src="../assets/img/arrow.png" alt="">
      </a>
    </div>
  </div>

</section>
<section class="about">
  <div class="container">
    <div class="information">
      <img src="../assets/img/light.png" alt="">
      <div class="about-text">
        <div class="component-title">What about ISAMA</div>
        <div class="description">
          ISAMA is a marketing foundation located in Riyadh built on the talent of creation that leads to a modern
          concept of professionalism. At ISAMA we believe even if you are good at what you do, you have a great product or you
          provide an excellent service. We still can present you a little better to the world, creating your full
          identity, provides you with your marketing plans, design your website, print your publications, design your
          logo’s and offices. Simply we give your business the perfect image.
        </div>
      </div>
    </div>
    <div class="information">
      <img src="../assets/img/tree.png" alt="">
      <div class="about-text">
        <div class="component-title">Why we exist</div>
        <div class="description">
          Reaching customer satisfaction through providing them with cutting-edge technologies that give clients access
          to a wide range of tools, ensuring efficient and results-oriented communication solutions, which grant them a
          special character that distinguishes them from the others in the business.fect image.
        </div>
      </div>
    </div>
  </div>
</section>
<section class="services">
  <div class="container">
    <div class="title">
      <img src="../assets/img/goal.png" alt="">
      <div class="title-text">
        <div class="block-title">What we do ?</div>
        <div class="description">Everything you need to do business intelligence right.</div>
      </div>
    </div>

    <div class="left-service-block">
      <div class="services-content">
        <div class="icon-wrapper">
          <img src="../assets/img/instrument.png" alt="">
        </div>
        <div class="service-text">
          <div class="component-title">Web Design & Development</div>
          <div class="description">ISAMA Pvt. Ltd. designs and develops creative websites utilizing the latest
            technologies.
          </div>
        </div>
      </div>
      <div class="services-content">
        <div class="icon-wrapper">
          <img src="../assets/img/kube.png" alt="">
        </div>
        <div class="service-text">
          <div class="component-title">Software Solutions</div>
          <div class="description">with our software for professional services and consulting firms. Grow your revenue
            and profit margins by
            assigning the right people to the right projects at the right time.
          </div>
        </div>
      </div>
      <div class="services-content">
        <div class="icon-wrapper">
          <img src="../assets/img/mouse.png" alt="">
        </div>
        <div class="service-text">
          <div class="component-title">Branding</div>
          <div class="description">We have our forte in advertising and Brand establishment. We create identities for
            the clients product and
            services in the target market.
          </div>
        </div>
      </div>
    </div>

    <div class="right-service-block">
      <div class="services-content">
        <div class="icon-wrapper">
          <img src="../assets/img/mobile.png" alt="">
        </div>
        <div class="service-text">
          <div class="component-title">Mobile Applications</div>
          <div class="description">Our Developers helps you to Design, Develop & Distribute Mobile Applications -
            Smarter & Faster.
          </div>
        </div>
      </div>
      <div class="services-content">
        <div class="icon-wrapper">
          <img src="../assets/img/sofa.png" alt="">
        </div>
        <div class="service-text">
          <div class="component-title">Interior Design</div>
          <div class="description">We offer a variety of design services ranging from Full Service Interior Design and
            Styling to our Design
            Concierge service, all of which are executed with beautiful, custom-tailored results
          </div>
        </div>
      </div>
      <div class="services-content">
        <div class="icon-wrapper">
          <img src="../assets/img/glob.png" alt="">
        </div>
        <div class="service-text">
          <div class="component-title">SEO & Web Marketing Services</div>
          <div class="description">We offer a variety of design services ranging from Full Service Interior Design
            and Styling to our Design
            Concierge service, all of which are executed with beautiful, custom-tailored results.
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="projects">
  <div class="container">
    <div class="title">
      <img src="../assets/img/lab.png" alt="">
      <div class="title-text">
        <div class="block-title">Our Projects</div>
        <div class="description">Some of our awesome work Proud of doing great works for our clients</div>
      </div>
    </div>
    <nav>
      <a target="_blank" href="#">All</a>
      <a target="_blank" href="#">Mobile Apps</a>
      <a target="_blank" href="#">Identities</a>
      <a target="_blank" href="#">Interior Design</a>
      <a target="_blank" href="#">UI/UX</a>
    </nav>

    <div class="project">
      <a target="_blank" class="icon" href="#"><img src="../assets/img/project_1.png" alt=""></a>
      <a target="_blank" class="link" href="#"> <img src="../assets/img/link.png" alt=""></a>
      <a target="_blank" class="plus" href="#"> <img src="../assets/img/plus.png" alt=""></a>
    </div>
    <div class="project">
      <a target="_blank" class="icon" href="#"><img src="../assets/img/project_2.png" alt=""></a>
      <a target="_blank" class="link" href="#"> <img src="../assets/img/link.png" alt=""></a>
      <a target="_blank" class="plus" href="#"> <img src="../assets/img/plus.png" alt=""></a></div>
    <div class="project">
      <a target="_blank" class="icon" href="#"><img src="../assets/img/project_3.png" alt=""></a>
      <a target="_blank" class="link" href="#"> <img src="../assets/img/link.png" alt=""></a>
      <a target="_blank" class="plus" href="#"> <img src="../assets/img/plus.png" alt=""></a>
    </div>
    <div class="project">
      <a target="_blank" class="icon" href="#"><img src="../assets/img/project_4.png" alt=""></a>
      <a target="_blank" class="link" href="#"> <img src="../assets/img/link.png" alt=""></a>
      <a target="_blank" class="plus" href="#"> <img src="../assets/img/plus.png" alt=""></a>
    </div>
    <div class="project">
      <a target="_blank" class="icon" href="#"><img src="../assets/img/project_5.png" alt=""></a>
      <a target="_blank" class="link" href="#"> <img src="../assets/img/link.png" alt=""></a>
      <a target="_blank" class="plus" href="#"> <img src="../assets/img/plus.png" alt=""></a>
    </div>
    <div class="project">
      <a target="_blank" class="icon" href="#"><img src="../assets/img/project_6.png" alt=""></a>
      <a target="_blank" class="link" href="#"> <img src="../assets/img/link.png" alt=""></a>
      <a target="_blank" class="plus" href="#"> <img src="../assets/img/plus.png" alt=""></a>
    </div>
    <div class="project">
      <a target="_blank" class="icon" href="#"><img src="../assets/img/project_7.png" alt=""></a>
      <a target="_blank" class="link" href="#"> <img src="../assets/img/link.png" alt=""></a>
      <a target="_blank" class="plus" href="#"> <img src="../assets/img/plus.png" alt=""></a>
    </div>
    <div class="project">
      <a target="_blank" class="icon" href="#"><img src="../assets/img/project_4.png" alt=""></a>
      <a target="_blank" class="link" href="#"> <img src="../assets/img/link.png" alt=""></a>
      <a target="_blank" class="plus" href="#"> <img src="../assets/img/plus.png" alt=""></a>
    </div>
  </div>
</section>

<section class="team">
  <div class="container">
    <div class="title">
      <img src="../assets/img/mentor.png" alt="">
      <div class="title-text">
        <div class="block-title">Meet Our Team</div>
        <div class="description">We have highly qualified staff with distinguished significant experiences in
          their field who work under pressure.
        </div>
      </div>
    </div>
    <ul class="employees">
      <li class="employee">
        <img class="icon" src="../assets/img/employee_1.png" alt="">
        <div class="component-title">Tamer</div>
        <div class="description">Senior Software Engineer</div>
        <ul class="social">
          <li><a target="_blank" href="https://www.facebook.com/"><img src="../assets/img/facebook.png" alt=""></a></li>
          <li><a target="_blank" href="https://www.twitter.com/"><img src="../assets/img/twitter.png" alt=""></a></li>
          <li><a target="_blank" href="https://www.instagram.com/"><img src="../assets/img/instagram.png" alt=""></a>
          </li>
          <li><a target="_blank" href="#"><img src="../assets/img/g+.png" alt=""></a></li>
        </ul>
      </li>
      <li class="employee">
        <img class="icon" src="../assets/img/employee_2.png" alt="">
        <div class="component-title">Hazem</div>
        <div class="description">PHP Developer</div>
        <ul class="social">
          <li><a target="_blank" href="https://www.facebook.com/"><img src="../assets/img/facebook.png" alt=""></a></li>
          <li><a target="_blank" href="https://www.twitter.com/"><img src="../assets/img/twitter.png" alt=""></a></li>
          <li><a target="_blank" href="https://www.instagram.com/"><img src="../assets/img/instagram.png" alt=""></a>
          </li>
          <li><a target="_blank" href="#"><img src="../assets/img/g+.png" alt=""></a></li>
        </ul>
      </li>
      <li class="employee">
        <img class="icon" src="../assets/img/employee_3.png" alt="">
        <div class="component-title">Mohammed</div>
        <div class="description">PHP Developer</div>
        <ul class="social">
          <li><a target="_blank" href="https://www.facebook.com/"><img src="../assets/img/facebook.png" alt=""></a></li>
          <li><a target="_blank" href="https://www.twitter.com/"><img src="../assets/img/twitter.png" alt=""></a></li>
          <li><a target="_blank" href="https://www.instagram.com/"><img src="../assets/img/instagram.png" alt=""></a>
          </li>
          <li><a target="_blank" href="#"><img src="../assets/img/g+.png" alt=""></a></li>
        </ul>
      </li>
      <li class="employee">
        <img class="icon" src="../assets/img/employee_4.png" alt="">
        <div class="component-title">Ahmed</div>
        <div class="description">UI/UX Designer</div>
        <ul class="social">
          <li><a target="_blank" href="https://www.facebook.com/"><img src="../assets/img/facebook.png" alt=""></a></li>
          <li><a target="_blank" href="https://www.twitter.com/"><img src="../assets/img/twitter.png" alt=""></a></li>
          <li><a target="_blank" href="https://www.instagram.com/"><img src="../assets/img/instagram.png" alt=""></a>
          </li>
          <li><a target="_blank" href="#"><img src="../assets/img/g+.png" alt=""></a></li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<section class="map">
  <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'../assets/img/marker.png'"></agm-marker>
  </agm-map>
  <div class="contact">
    <ul>
      <li>
        <div class="bubble-wrapper">
          <div class="bubble">Mail</div>
        </div>
        <a target="_blank" href="#"><img src="../assets/img/phone.png" alt=""></a>
      </li>
      <li>
        <div class="bubble-wrapper">
          <div class="bubble">Location</div>
        </div>
        <a target="_blank" href="#"><img src="../assets/img/map.png" alt=""></a>
      </li>
      <li>
        <div class="bubble-wrapper">
          <div class="bubble">Phone</div>
        </div>
        <a target="_blank" href="#"><img src="../assets/img/message.png" alt=""></a>
      </li>
    </ul>
  </div>
</section>

<footer>
  <div class="container">
    <div class="footer-top">
      <div class="social">
        <a target="_blank" href="https://www.facebook.com/"><img src="../assets/img/facebook.png" alt=""></a>
        <a target="_blank" href="https://www.twitter.com/"><img src="../assets/img/twitter.png" alt=""></a>
        <a target="_blank" href="https://www.instagram.com/"><img src="../assets/img/instagram.png" alt=""></a>
        <a target="_blank" href="#"><img src="../assets/img/g+.png" alt=""></a>
      </div>
      <div class="mail-form">
        <img src="../assets/img/profile.png" alt="">
        <input type="text" placeholder="Enter your email for out newsletter">
        <button>Join</button>
      </div>
    </div>
    <div class="footer-bottom">
      <span>© Copyright 2014 - ISAMA for information technology</span>
      <nav class="footer-menu">
        <a target="_blank" href="#">Blog</a>
        <a target="_blank" href="#">Jobs</a>
        <a target="_blank" href="#">Support</a>
        <a target="_blank" href="#">Arabic</a>
      </nav>
    </div>
  </div>
</footer>
<a class="top-arrow" href="#"><img src="../assets/img/top-arrow.png" alt=""></a>

